<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>editBrand</title>
</head>
<body>

<sf:form method="POST" modelAttribute="brand"
    enctype="multipart/form-data" action="//edit/${brand.id}">
    
    <fieldset>
        <table cellspacing="0">
            <tr>
                <th><label for="id">id:</label></th>
                <td><sf:input path="id" size="15" id="id" /></td>
            </tr>
            <tr>
                <th><label for="name">name:</label></th>
                <td><sf:input path="name" size="15" id="name" /></td>
            </tr>
            <tr>
                <th><label for="product_type">product_type:</label></th>
                <td><sf:input path="product_type" size="15" id="product_type" /></td>
            </tr>
            <tr>
        </table>
        <input type="submit" value="Update" />
    </fieldset>
</sf:form>
</body>
</html>
